/* line 1, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-project.css.scss */
html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  scroll-behavior: smooth;
}

/* line 32, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-project.css.scss */
body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 1em;
  line-height: 1.5em;
}
@media (min-width: 64em) {
  /* line 32, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-project.css.scss */
  body {
    font-size: 1em;
    line-height: 1.5em;
    margin-left: 2em;
    margin-right: 2em;
  }
}
@media (min-width: 85.375em) {
  /* line 32, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-project.css.scss */
  body {
    font-size: 1.4em;
    margin-left: 3em;
    margin-right: 3em;
  }
}
@media (min-width: 120em) {
  /* line 32, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-project.css.scss */
  body {
    font-size: 1.6em;
    margin-left: 4em;
    margin-right: 4em;
  }
}
@media (min-width: 160em) {
  /* line 32, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-project.css.scss */
  body {
    font-size: 2.3em;
    margin-left: 4em;
    margin-right: 4em;
  }
}

/* line 59, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-project.css.scss */
.container {
  margin: 0 20%;
}

/* line 63, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-project.css.scss */
.top-nav {
  background-color: white;
  display: inline;
  padding: 1em;
  position: fixed;
  z-index: 100;
  /*reset from body margin*/
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
}

/* line 76, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-project.css.scss */
.top-nav a {
  padding-top: 0.7em;
  margin-right: 3em;
  justify-content: center;
}

/* line 82, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-project.css.scss */
.progress-indicator {
  position: fixed;
  top: 3.4em;
  left: 0;
  margin-left: 0;
  z-index: 100;
  width: 100%;
  background-color: #f1f1f1;
}

/* line 92, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-project.css.scss */
.progress-container {
  width: 100%;
  height: 0.2em;
  background-color: lightgrey;
}

/* Scroll Indicator */
/* line 99, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-project.css.scss */
.progress-bar {
  height: 0.2em;
  background: linear-gradient(90deg, #833ab4 0%, #fd1d1d 50%, #fcb045 100%);
  width: 0;
}

/* line 105, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-project.css.scss */
.two-col {
  display: grid;
  grid-template-columns: 7fr 5fr;
  grid-column-gap: 1.8em;
}

/* line 111, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-project.css.scss */
.condense {
  max-width: 65%;
}

/* Header/Title */
/* line 116, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-project.css.scss */
h1 {
  line-height: 1.5em;
  font-size: 3em;
}

/* Subtitle */
/* line 122, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-project.css.scss */
h2 {
  font-weight: normal;
  font-size: 2em;
  line-height: 1.2em;
}

/* line 128, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-project.css.scss */
h2.key__section-title {
  font-size: 1.6em;
  font-weight: bold;
  text-align: center;
  line-height: 1em;
}

/* Code-y Description */
/* line 136, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-project.css.scss */
h3 {
  display: inline;
  font-size: 0.8em;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  line-height: 0.7em;
}

/* line 144, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-project.css.scss */
h3.image-caption {
  text-align: center;
  line-height: 1.5em;
}

/* Project Summary */
/* line 150, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-project.css.scss */
h4 {
  font-weight: normal;
  font-size: 0.8em;
  color: #333333;
  line-height: 1.7em;
}

/* line 157, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-project.css.scss */
h5 {
  font-size: 1.4em;
  line-height: 1.5em;
  font-weight: normal;
}

/* line 163, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-project.css.scss */
p {
  font-size: 1em;
}

/*Project Highlights*/
/* line 169, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-project.css.scss */
.highlight-janus {
  background-color: #D0C5FF;
  display: inline;
  font-style: italic;
  font-weight: 600;
}

/* line 176, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-project.css.scss */
.highlight-treasury {
  background-color: #C5FFDF;
  font-weight: 600;
  display: inline;
  font-style: italic;
}

/* line 183, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-project.css.scss */
.highlight-open-table {
  background-color: #FFC5C5;
  font-weight: 600;
  display: inline;
  font-style: italic;
}

/*Project Colors*/
/* line 192, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-project.css.scss */
.janus-color {
  color: #692398;
  display: inline-block;
}

/* line 197, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-project.css.scss */
.treasury-color {
  color: #109a53;
  display: inline-block;
}

/* line 202, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-project.css.scss */
.open-table-tab-color {
  color: #d43644;
  display: inline-block;
}

/* line 207, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-project.css.scss */
a.black {
  color: #333333;
  text-decoration: none;
}

/* line 212, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-project.css.scss */
a.black:hover {
  font-weight: 700;
}

/* line 216, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-project.css.scss */
a.blue {
  color: dodgerblue;
  text-decoration: none;
  font-weight: normal;
}

/* line 222, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-project.css.scss */
a.active-nav {
  font-weight: 700;
}

/* line 226, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-project.css.scss */
a.inactive-nav:hover {
  font-weight: 700;
}

/* line 230, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-project.css.scss */
img {
  display: flex;
  width: 100%;
  margin: 3em 0;
}

/* line 236, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-project.css.scss */
video {
  display: flex;
  max-width: 600px;
}

/* line 241, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-project.css.scss */
.center {
  text-align: center;
}

/* line 245, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-project.css.scss */
.btn__prototype {
  justify-content: center;
  border-radius: 2px;
  margin: 8px;
  background: dodgerblue;
  padding: 8px 16px;
  outline: none;
  border: none;
  color: white;
  position: relative;
  overflow: hidden;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: 0.2s;
  text-decoration: none;
  display: inline-block;
}

/* line 263, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-project.css.scss */
.btn__prototype:hover {
  background: #4aa6ff;
  cursor: pointer;
  color: white;
}

/* line 269, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-project.css.scss */
.ripple {
  position: absolute;
  background: #fff;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  animation: rippleEffect .88s 1;
  opacity: 0;
}

@keyframes rippleEffect {
  0% {
    transform: scale(1);
    opacity: 0.4;
  }
  100% {
    transform: scale(100);
    opacity: 0;
  }
}
/*Image*/
/* line 287, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-project.css.scss */
.zoomImages {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

/* line 293, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-project.css.scss */
.zoomImages:hover {
  opacity: 0.7;
}

/* The Modal */
/* line 298, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-project.css.scss */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 7em;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}

/* Modal Content (Image) */
/* line 313, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-project.css.scss */
.modal-content {
  margin: 0 auto auto;
  display: block;
  width: 100%;
  max-width: 1000px;
}

/* Caption of Modal Image (Alt Text) */
/* line 321, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-project.css.scss */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 3em 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
/* line 333, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-project.css.scss */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
/* The Close Button */
/* line 344, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-project.css.scss */
.close {
  position: absolute;
  top: 2em;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  transition: 0.3s;
}

/* line 353, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-project.css.scss */
.close:hover,
.close:focus {
  opacity: 0.7;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  /* line 362, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-project.css.scss */
  .modal-content {
    width: 100%;
  }
}
/* Tooltip container */
/* line 368, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-project.css.scss */
.tooltip {
  top: 0;
}

/* Tooltip text */
/* line 373, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-project.css.scss */
.tooltip .tooltip-text {
  top: 9em;
  right: 2em;
  visibility: hidden;
  font-size: 0.8em;
  width: 4em;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 0.5em 0;
  border-radius: 3px;
  position: absolute;
  z-index: 1;
}

/* line 388, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-project.css.scss */
.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

/* line 393, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-project.css.scss */
.tooltip .tooltip-text {
  opacity: 0;
  transition: opacity 1s;
}

/* line 398, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-project.css.scss */
#project-logo {
  max-width: 10em;
  text-align: center;
}

/* line 403, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-project.css.scss */
#signature {
  margin: 0;
  width: 10em;
}

/* line 408, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-project.css.scss */
.container__project-image {
  width: 100%;
  margin-left: 10%;
  max-width: 90%;
}

/* line 414, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-project.css.scss */
.container__project-text {
  display: flex;
  flex-flow: column;
  align-self: center;
}

/* line 420, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-project.css.scss */
.project__text-details {
  display: inline-flex;
  flex-flow: column;
  justify-content: center;
}

/* line 426, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-project.css.scss */
.project__text-title {
  font-size: 2em;
  line-height: 1em;
}

/* "View Project" Link Properties*/
/* line 433, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-project.css.scss */
.view__link {
  --smLinkPadding: 10px 15px;
  --smLinkLineWeight: 2px;
  --smLinkLineColor: dodgerblue;
  --smLinkTextColorHover: dodgerblue;
  display: inline-flex;
  color: dodgerblue;
  position: relative;
  overflow: hidden;
}

/* line 444, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-project.css.scss */
a.view__link {
  text-decoration: none;
}

/* line 448, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-project.css.scss */
.view__link::after {
  transform: translate3d(-100%, 0, 0);
  transition: transform .2s ease-in;
}

/* line 453, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-project.css.scss */
.view__link:hover::after {
  transform: translate3d(0, 0, 0);
}

/*"View Project" Link Padding*/
/* line 459, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-project.css.scss */
.view__link-padding {
  --uismLinkLineWeight: var(--smLinkLineWeight, 1px);
  --uismLinkLineColor: var(--smLinkLineColor, #000);
  padding-bottom: var(--uismLinkLineWeight);
  position: relative;
}

/* line 466, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-project.css.scss */
.view__link-padding::after {
  content: "";
  width: 7em;
  height: var(--uismLinkLineWeight);
  background-color: var(--uismLinkLineColor);
  position: absolute;
  left: 0;
  bottom: 0;
}

/* line 476, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-project.css.scss */
#backToTop {
  display: none;
  position: fixed;
  bottom: 2em;
  right: 2em;
  outline: none;
  color: dodgerblue;
  cursor: pointer;
  font-size: 1.1em;
  font-weight: 600;
  text-align: center;
  background-color: white;
  border: 2px solid dodgerblue;
  border-radius: 100%;
  padding: 0.85em 1em;
}

/* line 493, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-project.css.scss */
#backToTop:hover {
  /*opacity: 0.7;*/
  background-color: dodgerblue;
  border-color: dodgerblue;
  color: white;
}

/* line 500, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-project.css.scss */
footer > div {
  display: inline-block;
  justify-items: center;
  margin-bottom: 1em;
}

/* line 506, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-project.css.scss */
div.sm-links {
  text-align: center;
  display: inline-flex;
  width: 100%;
  justify-content: center;
}

/* line 513, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-project.css.scss */
.sm-links > a {
  padding: 0 1em;
  color: #333333;
  vertical-align: center;
}

/* line 519, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-project.css.scss */
.sm-links > a:hover {
  opacity: 0.7;
}

/* line 523, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-project.css.scss */
.message {
  display: block;
  text-align: center;
  color: #333333;
}

/* line 529, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-project.css.scss */
.message > a {
  color: #333333;
  font-weight: 600;
  text-decoration: none;
}

/* line 535, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-project.css.scss */
.message > a:hover {
  opacity: 0.7;
}

/* line 539, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-project.css.scss */
.copyright {
  display: block;
  text-align: center;
  opacity: 0.5;
}

@media (max-width: 800px) {
  /* line 547, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-project.css.scss */
  body {
    margin: 0 1em 1em;
  }

  /* line 551, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-project.css.scss */
  .top-nav {
    font-size: 0.5em;
    margin: 0;
  }

  /* line 556, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-project.css.scss */
  .progress-indicator {
    top: 5.3em;
  }

  /* line 560, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-project.css.scss */
  .condense {
    max-width: 100%;
  }

  /* line 564, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-project.css.scss */
  h1 {
    font-size: 3em;
    line-height: 1em;
  }

  /* line 569, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-project.css.scss */
  .two-col {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 0;
  }

  /* line 575, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-project.css.scss */
  .container__project-image {
    margin: 0 2em;
    width: 80%;
  }

  /* line 580, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-project.css.scss */
  .container__project-text {
    padding: 0 2em;
  }

  /* line 584, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-project.css.scss */
  video {
    display: flex;
    max-width: 270px;
  }

  /* line 589, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-project.css.scss */
  footer {
    padding: 0 1em;
  }

  /* line 593, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-project.css.scss */
  footer.sm-links {
    padding: 0 1em;
  }
}
/* line 1, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-resume.css.scss */
body {
  margin-left: 8em;
  margin-right: 8em;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

/* line 7, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-resume.css.scss */
.resume-grid {
  max-width: 2440px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4em;
}

/* line 15, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-resume.css.scss */
.column-two a {
  color: dodgerblue;
}

/* line 19, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-resume.css.scss */
.column-two a:hover {
  opacity: 0.7;
}

/* line 23, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-resume.css.scss */
.resume-grid img {
  padding-top: 0.5em;
  margin: 0;
  max-height: 1.5em;
  max-width: 1.5em;
}

/* line 30, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-resume.css.scss */
.list {
  display: inline-flex;
}

@media screen and (max-width: 800px) {
  /* line 35, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-resume.css.scss */
  body {
    font-size: 1em;
    margin-left: 2em;
    margin-right: 2em;
  }

  /* line 41, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-resume.css.scss */
  div.resume-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
  }

  /* line 48, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-resume.css.scss */
  .column-one {
    width: 100%;
    margin: 0;
  }

  /* line 53, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-resume.css.scss */
  div.column-two {
    width: 100%;
    margin: 0;
  }

  /* line 58, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-resume.css.scss */
  .column-three {
    margin: 0;
  }
}
/* line 1, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 31, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 1em;
  line-height: 1.5em;
}
@media (min-width: 64em) {
  /* line 31, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
  body {
    font-size: 1em;
    line-height: 1.5em;
    margin-left: 2em;
    margin-right: 2em;
  }
}
@media (min-width: 85.375em) {
  /* line 31, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
  body {
    font-size: 1.4em;
    margin-left: 3em;
    margin-right: 3em;
  }
}
@media (min-width: 120em) {
  /* line 31, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
  body {
    font-size: 1.6em;
    margin-left: 4em;
    margin-right: 4em;
  }
}
@media (min-width: 160em) {
  /* line 31, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
  body {
    font-size: 2.3em;
    margin-left: 4em;
    margin-right: 4em;
  }
}

/* line 58, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
.header {
  display: inline-flex;
  align-items: center;
  margin-top: 8em;
}

/* line 64, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
.bio {
  font-weight: normal;
  font-size: 2.4em;
  line-height: 1.2em;
}

/* line 70, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
.top-nav {
  background-color: white;
  display: inline;
  padding: 1em;
  position: fixed;
  z-index: 100;
  /*reset from body margin*/
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
}

/* line 83, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
.top-nav a {
  padding-top: 0.7em;
  justify-content: center;
  font-size: 0.7em;
  margin-right: 3em;
  letter-spacing: 0.8pt;
}

/* line 91, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
.nav-title {
  float: left;
  margin-left: 8em;
}

/* line 96, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
.nav-links {
  float: right;
  margin-right: 8em;
}

/* line 101, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
.nav-links a.inactive-nav:hover {
  opacity: 0.7;
}

/* line 105, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
a.active-nav {
  font-weight: 700;
}

/* line 109, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
#profile_photo {
  height: 200px;
  width: 200px;
  margin-left: 6em;
  border-radius: 50%;
}
@media (min-width: 48em) {
  /* line 109, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
  #profile_photo {
    height: 100px;
    width: 100px;
  }
}
@media (min-width: 64em) {
  /* line 109, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
  #profile_photo {
    height: 200px;
    width: 200px;
  }
}
@media (min-width: 85.375em) {
  /* line 109, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
  #profile_photo {
    height: 300px;
    width: 300px;
  }
}
@media (min-width: 120em) {
  /* line 109, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
  #profile_photo {
    height: 300px;
    width: 300px;
  }
}
@media (min-width: 160em) {
  /* line 109, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
  #profile_photo {
    height: 500px;
    width: 500px;
  }
}

/* line 136, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
.header-intro {
  padding: 0 5em;
  margin-left: 2.5em;
}

/* line 141, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
.container-main {
  width: 100%;
}

/* line 145, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
.two-col {
  display: grid;
  grid-template-columns: 7fr 5fr;
}

/* line 150, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
.animated {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes bounce {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transform: translateY(0);
  }
  90% {
    -webkit-transform: translateY(-20px);
  }
}
@keyframes bounce {
  0%, 20%, 40%, 60%, 80%, 100% {
    transform: translateY(0);
  }
  90% {
    transform: translateY(-20px);
  }
}
/* line 171, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
}

/* line 176, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
#scroll-down-arrow {
  text-align: center;
}

/* line 180, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
a {
  color: dodgerblue;
  text-decoration: none;
  -webkit-transition: color 1s;
  /* For Safari 3.0 to 6.0 */
  transition: color 1s;
  /* For modern browsers */
  font-size: 1em;
}

/* line 188, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
a:hover {
  color: dodgerblue;
}

/* line 192, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
a.view-project-button:hover {
  text-decoration: underline;
  display: block;
}

/* line 197, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
.container__project-image {
  width: 100%;
}

/*Project Colors*/
/* line 203, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
.janus-color {
  color: #692398;
  display: inline-block;
}

/* line 208, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
.treasury-color {
  color: #0E8749;
  display: inline-block;
}

/* line 213, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
.open-table-tab-color {
  color: #d43644;
  display: inline-block;
}

/*Selection Color*/
/* line 220, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
::selection {
  background: #FF9966;
  /* WebKit/Blink Browsers */
}

/* line 223, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
::-moz-selection {
  background: #FF9966;
  /* Gecko Browsers */
}

/* "View Project" Link Properties*/
/* line 229, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
.view__link {
  --smLinkPadding: 10px 15px;
  --smLinkLineWeight: 2px;
  --smLinkLineColor: dodgerblue;
  --smLinkTextColorHover: dodgerblue;
  color: dodgerblue;
  position: relative;
  overflow: hidden;
}

/* line 239, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
a.view__link {
  text-decoration: none;
  font-weight: 600;
}

/* line 244, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
.view__link::after {
  transform: translate3d(-100%, 0, 0);
  transition: transform .2s ease-in;
}

/* line 249, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
.view__link:hover::after {
  transform: translate3d(0, 0, 0);
}

/*Link Padding*/
/* line 255, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
.view__link-padding {
  --uismLinkLineWeight: var(--smLinkLineWeight, 1px);
  --uismLinkLineColor: var(--smLinkLineColor, #000);
  padding-bottom: var(--uismLinkLineWeight);
  position: relative;
}

/* line 262, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
.view__link-padding::after {
  content: "";
  width: 7em;
  height: var(--uismLinkLineWeight);
  background-color: var(--uismLinkLineColor);
  position: absolute;
  left: 0;
  bottom: 0;
}

/* line 272, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
img.drop-shadow {
  box-shadow: 8px 8px 50px 1px rgba(0, 0, 0, 0.3);
}

/* line 276, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
img.img-project {
  display: flex;
  max-width: 90%;
}

/* line 281, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
.container__project-text {
  display: flex;
  flex-flow: column;
  align-self: center;
  padding-left: 5em;
}

/* line 288, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
.project__text-details {
  display: inline-flex;
  flex-flow: column;
  justify-content: center;
}

/* line 294, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
.project__text-title {
  font-size: 2em;
  line-height: 1em;
}

/* line 299, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
h1 {
  line-height: 1.1em;
  font-size: 2.8em;
}

/* line 304, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
p {
  font-size: 1em;
}

/* line 308, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
a.black {
  color: #333333;
  text-decoration: none;
  font-size: 1em;
  font-weight: 700;
}

/* line 315, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
a.black:hover {
  font-weight: 700;
}

/* line 319, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
a.blue {
  color: dodgerblue;
  font-weight: bolder;
  text-decoration: none;
}

/* line 325, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
footer > div {
  display: inline-block;
  justify-items: center;
  margin-bottom: 2em;
}

/* line 331, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
div.sm-links {
  text-align: center;
  display: inline-flex;
  width: 100%;
  justify-content: center;
}

/* line 338, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
.sm-links > a {
  padding: 0 1em;
  color: #333333;
  vertical-align: center;
}

/* line 344, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
.sm-links > a:hover {
  opacity: 0.7;
}

/* line 348, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
.message {
  display: block;
  text-align: center;
  color: #333333;
}

/* line 354, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
.message > a {
  color: #333333;
  font-weight: 600;
}

/* line 359, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
.message > a:hover {
  opacity: 0.7;
}

/* line 363, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
.copyright {
  display: block;
  text-align: center;
  opacity: 0.5;
}

@media (max-width: 800px) {
  /* line 370, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
  body {
    margin: 1em;
    font-size: 1em;
  }

  /* line 375, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
  .top-nav {
    font-size: 1em;
    font-weight: 700;
  }

  /* line 380, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
  .header {
    margin: 0;
    padding: 0;
    display: grid;
  }

  /* line 386, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
  #profile_photo {
    display: block;
    margin-top: 8em;
    margin-left: 22%;
    justify-content: center;
  }

  /* line 393, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
  h1 {
    font-size: 4em;
  }

  /* line 397, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
  h3 {
    line-height: normal;
  }

  /* line 401, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
  .header-intro {
    margin-left: 1em;
    padding: 2em;
    font-size: 50%;
    text-align: center;
  }

  /* line 408, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
  .two-col {
    grid-template-columns: 1fr;
  }

  /* line 412, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
  .container-projects {
    display: block;
    justify-self: center;
  }

  /* line 417, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
  .container__project-text {
    width: 90%;
    padding-left: 2em;
  }

  /* line 422, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
  .container__project-image {
    justify-content: center;
  }

  /* line 426, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
  footer {
    padding: 0 1em;
  }

  /* line 430, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
  footer.sm-links {
    display: inline-flex;
    padding: 0 1em;
    justify-content: center;
  }
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

