@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
@import url("https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i");
@font-face {
  font-family: "commmaxon";
  src: url("CommonSans-Regular.otf") format("opentype");
}
/* line 10, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  scroll-behavior: smooth;
}

/* line 42, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
body {
  font-family: "commmaxon", sans-serif;
  letter-spacing: 0.05em;
  font-size: 14px;
  line-height: 1.5em;
}
@media (min-width: 64em) {
  /* line 42, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
  body {
    font-size: 14px;
    line-height: 1.5em;
    margin-left: 2em;
    margin-right: 2em;
  }
}
@media (min-width: 85.375em) {
  /* line 42, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
  body {
    font-size: 19.6px;
    margin-left: 3em;
    margin-right: 3em;
  }
}
@media (min-width: 120em) {
  /* line 42, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
  body {
    font-size: 19.6px;
    margin-left: 4em;
    margin-right: 4em;
  }
}
@media (min-width: 160em) {
  /* line 42, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
  body {
    font-size: 16.8px;
    margin-left: 3em;
    margin-right: 3em;
  }
}

/* line 72, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
.row {
  display: flex;
}

/* line 76, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  text-align: left;
}

/* line 87, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
.col-xs-5ths {
  width: 20%;
  float: left;
}

@media (min-width: 768px) {
  /* line 93, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
  .col-sm-5ths {
    width: 20%;
    float: left;
  }
}
@media (min-width: 992px) {
  /* line 100, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
  .col-md-5ths {
    width: 20%;
    float: left;
  }
}
@media (min-width: 1200px) {
  /* line 107, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
  .col-lg-5ths {
    width: 20%;
    float: left;
  }
}
/* line 113, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
.col-xs-2-5ths,
.col-sm-2-5ths,
.col-md-2-5ths,
.col-lg-2-5ths {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  text-align: left;
}

/* line 124, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
.col-xs-2-5ths {
  width: 40%;
  float: left;
}

@media (min-width: 768px) {
  /* line 130, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
  .col-sm-2-5ths {
    width: 40%;
    float: left;
  }
}
@media (min-width: 992px) {
  /* line 137, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
  .col-md-2-5ths {
    width: 40%;
    float: left;
  }
}
@media (min-width: 1200px) {
  /* line 144, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
  .col-lg-2-5ths {
    width: 40%;
    float: left;
  }
}
/* line 151, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
#backToTop {
  display: none;
  position: fixed;
  bottom: 5em;
  right: 8em;
  color: orangered;
  cursor: pointer;
  border: none;
  text-align: center;
  outline: none;
  background-color: transparent;
  background-repeat: no-repeat;
  font-size: 1em;
  z-index: 150;
}

/* line 167, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
#backToTop:hover {
  opacity: 0.7;
}
/* line 170, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
#backToTop:hover #backToTop:focus {
  outline: none;
  border: none;
}
/* line 175, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
#backToTop:hover #backToTop:active {
  border: none;
  outline: none;
}

/* line 182, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  padding: 2em 2em;
  z-index: 100;
  width: 100%;
  background: -moz-linear-gradient(top, white, rgba(255, 255, 255, 0));
  background: -webkit-linear-gradient(top, white, rgba(255, 255, 255, 0));
}

/* line 193, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
.footer {
  padding: 2em 2em;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 100;
  width: 100%;
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0), white);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), white);
}

/* line 204, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
.inactive-nav {
  color: black;
}

/* line 208, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
.active-nav {
  font-style: italic;
}

/* line 212, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
.progress-indicator {
  position: fixed;
  top: 0;
  left: 0;
  margin-left: 0;
  z-index: 100;
  width: 100%;
  background-color: white;
}

/* line 222, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
.progress-container {
  width: 100%;
  height: 0.2em;
  color: white;
}

/* Scroll Indicator */
/* line 229, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
.progress-bar {
  height: 0.2em;
  background: orangered;
  width: 0;
}

/*Image*/
/* line 236, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
.zoomImages {
  cursor: pointer;
  transition: 0.3s;
  margin: 20% 20%;
}

/* line 242, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
.zoomImages:hover {
  opacity: 0.7;
}

/* The Modal */
/* line 247, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1000;
  /* Sit on top */
  padding-top: 7em;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}

/* Modal Content (Image) */
/* line 262, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
.modal-content {
  margin: 0 auto auto;
  display: block;
  width: 100%;
  max-width: 50em;
}

/* Caption of Modal Image (Alt Text) */
/* line 270, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: white;
  padding: 3em 0;
  height: 150px;
  font-weight: 100;
}

/* Add Animation - Zoom in the Modal */
/* line 283, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
/* The Close Button */
/* line 294, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
.close {
  position: fixed;
  top: 1em;
  right: 1em;
  color: orangered;
  font-size: 4.5em;
  font-weight: 100;
  font-family: "Sporting Grotesque", sans-serif;
  transition: 0.3s;
  border: orangered 3px solid;
  padding: 0.25em 0.1em;
}

/* line 307, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
.close:hover,
.close:focus {
  opacity: 0.7;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  /* line 316, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
  .modal-content {
    width: 100%;
  }
}
/* line 321, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
.bulk-content {
  margin-top: 13em;
  margin-bottom: 10em;
}

/* line 326, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
.project-nav {
  position: fixed;
  top: 0;
  margin-top: 16em;
  width: 50%;
  z-index: 10;
}

/* line 334, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
.project-this {
  position: fixed;
  top: 0;
  margin-top: 16em;
  width: 100%;
}

/* line 341, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
.container-projects {
  display: block;
  margin-bottom: 4em;
  margin-top: 4em;
  justify-self: center;
}

/* line 348, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
.project-index {
  margin: 3em 0;
}

/* line 352, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
.project-image > img {
  border: orangered solid 1px;
  width: 100%;
  max-height: 20%;
  max-width: 90%;
  padding: 1em;
}

/* line 360, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
.text-center {
  align-self: center;
}

/* line 364, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
.active-type {
  color: orangered;
  -webkit-text-stroke: 0 white;
}

/*Selection Color*/
/* line 372, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
::selection {
  color: orangered;
  /* WebKit/Blink Browsers */
}

/* line 375, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
::-moz-selection {
  color: orangered;
  /* Gecko Browsers */
}

/*🍊*/
/* line 380, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
.channel-orange {
  color: orangered;
  display: inline;
}

/* Code-y Description */
/* line 386, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
h3 {
  display: inline;
  font-size: 0.8em;
  font-family: "Roboto Mono", monospace;
  font-weight: 200;
  line-height: 0.7em;
}

/* line 394, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
a {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}

/* line 400, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
a.dashed {
  padding-bottom: 0.1em;
  text-decoration: none;
  border-bottom: dashed #000000 0.5px;
}

/* line 406, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
a:hover {
  opacity: 0.5;
}

/* line 410, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
.case-image > img {
  display: block;
  width: 100%;
  max-width: 90%;
  margin: 0;
}

/* line 417, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
.btn__prototype {
  justify-content: center;
  padding: 0.5em 1em;
  border: dashed 0.1em;
  overflow: hidden;
  display: inline-block;
}

/* line 425, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
.btn__prototype:hover {
  cursor: pointer;
  opacity: 0.6;
}

/* line 430, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
video {
  display: flex;
  max-width: 400px;
}

@media (max-width: 800px) {
  /* line 436, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
  body {
    margin-left: 3em;
  }

  /* line 440, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
  .col-lg-5ths,
  .col-md-5ths,
  .col-sm-5ths,
  .col-xs-5ths {
    width: 100%;
  }
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */
