/* line 1, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-resume.css.scss */
body {
  margin-top: 5em;
  margin-left: 10em;
  margin-right: 10em;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  line-height: 1.3em;
}

/* line 9, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-resume.css.scss */
.container {
  max-width: 2440px;
  margin: 0 auto;
  display: inline grid;
  grid-column-gap: 3px;
  grid-row-gap: 10px;
}

/* line 17, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-resume.css.scss */
div.column-one {
  top: 0;
  float: left;
  max-width: 25em;
}

/* line 23, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-resume.css.scss */
div.column-two {
  margin-left: 25em;
  max-width: 25em;
  min-width: 15em;
}

/* line 29, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-resume.css.scss */
.column-two a {
  text-decoration: none;
  color: #333333;
}

/* line 34, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-resume.css.scss */
.column-two a:hover {
  opacity: 0.7;
}

@media screen and (max-width: 800px) {
  /* line 39, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-resume.css.scss */
  body {
    font-size: 1em;
  }

  /* line 43, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-resume.css.scss */
  div.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
  }

  /* line 50, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-resume.css.scss */
  .column-one {
    width: 100%;
    margin-left: 1em;
    margin-bottom: 2em;
  }

  /* line 56, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style-resume.css.scss */
  div.column-two {
    margin-left: 1em;
    width: 100%;
  }
}
