@import url("https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i");
/* line 3, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style-resume.css.scss */
body {
  margin-left: 8em;
  margin-right: 8em;
  font-family: Karla, sans-serif;
}

/* line 10, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style-resume.css.scss */
.resume-grid {
  max-width: 2440px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4em;
}

/* line 18, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style-resume.css.scss */
.column-two a:hover {
  opacity: 0.7;
}

/* line 22, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style-resume.css.scss */
.resume-grid img {
  padding-top: 0.5em;
  margin: 0;
  max-height: 1.5em;
  max-width: 1.5em;
}

/* line 29, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style-resume.css.scss */
.list {
  display: inline-flex;
}

@media screen and (max-width: 800px) {
  /* line 34, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style-resume.css.scss */
  body {
    font-size: 1em;
    margin-left: 2em;
    margin-right: 2em;
  }

  /* line 40, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style-resume.css.scss */
  div.resume-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
  }

  /* line 47, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style-resume.css.scss */
  .column-one {
    width: 100%;
    margin: 0;
  }

  /* line 52, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style-resume.css.scss */
  div.column-two {
    width: 100%;
    margin: 0;
  }

  /* line 57, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style-resume.css.scss */
  .column-three {
    margin: 0;
  }
}
