@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
@import url("https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i");
@font-face {
  font-family: 'bagnardsans';
  src: url("bagnardsans.otf");
  /* IE9 Compat Modes */
  src: url("bagnardsans.otf?#iefix") format("embedded-opentype");
}
@font-face {
  font-family: 'youngserif-regular';
  src: url("youngserif-regular.otf");
  /* IE9 Compat Modes */
  src: url("youngserif-regular.otf?#iefix") format("embedded-opentype");
}
/* line 15, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 14px;
}

/* line 46, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
body {
  font-family: Karla, sans-serif;
  font-size: 13px;
  line-height: 1.5em;
}
@media (min-width: 64em) {
  /* line 46, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
  body {
    font-size: 13px;
    line-height: 1.5em;
    margin-left: 2em;
    margin-right: 2em;
  }
}
@media (min-width: 85.375em) {
  /* line 46, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
  body {
    font-size: 18.2px;
    margin-left: 3em;
    margin-right: 3em;
  }
}
@media (min-width: 120em) {
  /* line 46, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
  body {
    font-size: 18.2px;
    margin-left: 4em;
    margin-right: 4em;
  }
}
@media (min-width: 160em) {
  /* line 46, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
  body {
    font-size: 15.6px;
    margin-left: 3em;
    margin-right: 3em;
  }
}

/* line 73, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
.header {
  display: inline-flex;
  align-items: center;
  margin-top: 15em;
  margin-bottom: 8em;
}

/* line 80, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
.header-intro {
  padding: 0 5em;
  margin-left: 3.5em;
}

/* line 85, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
a {
  color: #000000;
  text-decoration: none;
}

/* line 90, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
a.dashed {
  padding-bottom: 0.1em;
  text-decoration: none;
  border-bottom: dashed #000000 0.5px;
}

/* line 96, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
a:hover {
  opacity: 0.7;
}

/* line 100, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
p {
  font-size: 1em;
}

@media (max-width: 800px) {
  /* line 105, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
  body {
    margin-left: 3em;
  }

  /* line 109, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
  div.header {
    display: block;
  }

  /* line 113, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
  h3 {
    line-height: normal;
    font-size: 2em;
  }

  /* line 118, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
  p {
    font-size: 1em;
  }

  /* line 122, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
  .header-intro {
    display: inline;
  }
}
