@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
/* line 3, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 33, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 1em;
  line-height: 1.5em;
}
@media (min-width: 64em) {
  /* line 33, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
  body {
    font-size: 1em;
    line-height: 1.5em;
    margin-left: 2em;
    margin-right: 2em;
  }
}
@media (min-width: 85.375em) {
  /* line 33, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
  body {
    font-size: 1.4em;
    margin-left: 3em;
    margin-right: 3em;
  }
}
@media (min-width: 120em) {
  /* line 33, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
  body {
    font-size: 1.4em;
    margin-left: 4em;
    margin-right: 4em;
  }
}
@media (min-width: 160em) {
  /* line 33, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
  body {
    font-size: 1.4em;
    margin-left: 4em;
    margin-right: 4em;
  }
}

/* line 60, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
.header {
  display: inline-flex;
  align-items: center;
  margin-top: 8em;
}

/* line 66, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
.bio {
  font-weight: normal;
  font-size: 2.4em;
  line-height: 1.2em;
}

/* line 72, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
.top-nav {
  background-color: white;
  display: inline;
  padding: 1em;
  position: fixed;
  z-index: 100;
  /*reset from body margin*/
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
}

/* line 85, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
.top-nav a {
  padding-top: 0.7em;
  justify-content: center;
  font-size: 0.7em;
  margin-right: 3em;
  letter-spacing: 0.8pt;
}

/* line 93, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
.nav-title {
  float: left;
  margin-left: 8em;
}

/* line 98, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
.nav-links {
  float: right;
  margin-right: 8em;
}

/* line 103, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
.nav-links a.inactive-nav:hover {
  opacity: 0.7;
}

/* line 107, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
a.active-nav {
  font-weight: 700;
}

/* line 111, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
#profile_photo {
  height: 200px;
  width: 200px;
  margin-left: 6em;
  border-radius: 50%;
}
@media (min-width: 48em) {
  /* line 111, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
  #profile_photo {
    height: 100px;
    width: 100px;
  }
}
@media (min-width: 64em) {
  /* line 111, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
  #profile_photo {
    height: 200px;
    width: 200px;
  }
}
@media (min-width: 85.375em) {
  /* line 111, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
  #profile_photo {
    height: 300px;
    width: 300px;
  }
}
@media (min-width: 120em) {
  /* line 111, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
  #profile_photo {
    height: 300px;
    width: 300px;
  }
}
@media (min-width: 160em) {
  /* line 111, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
  #profile_photo {
    height: 450px;
    width: 450px;
  }
}

/* line 138, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
.header-intro {
  padding: 0 5em;
  margin-left: 2.5em;
}

/* line 143, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
.container-main {
  width: 100%;
}

/* line 147, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
.two-col {
  display: grid;
  grid-template-columns: 7fr 5fr;
}

/* line 152, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
.animated {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes bounce {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transform: translateY(0);
  }
  90% {
    -webkit-transform: translateY(-20px);
  }
}
@keyframes bounce {
  0%, 20%, 40%, 60%, 80%, 100% {
    transform: translateY(0);
  }
  90% {
    transform: translateY(-20px);
  }
}
/* line 173, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
}

/* line 178, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
#scroll-down-arrow {
  text-align: center;
}

/* line 182, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
a {
  color: dodgerblue;
  text-decoration: none;
  -webkit-transition: color 1s;
  /* For Safari 3.0 to 6.0 */
  transition: color 1s;
  /* For modern browsers */
  font-size: 1em;
}

/* line 190, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
a:hover {
  color: dodgerblue;
}

/* line 194, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
a.view-project-button:hover {
  text-decoration: underline;
  display: block;
}

/* line 199, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
.container__project-image {
  width: 100%;
}

/*Project Colors*/
/* line 205, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
.janus-color {
  color: #692398;
  display: inline-block;
}

/* line 210, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
.treasury-color {
  color: #0E8749;
  display: inline-block;
}

/* line 215, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
.open-table-tab-color {
  color: #d43644;
  display: inline-block;
}

/*Selection Color*/
/* line 222, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
::selection {
  background: #FF9966;
  /* WebKit/Blink Browsers */
}

/* line 225, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
::-moz-selection {
  background: #FF9966;
  /* Gecko Browsers */
}

/* "View Project" Link Properties*/
/* line 231, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
.view__link {
  --smLinkPadding: 10px 15px;
  --smLinkLineWeight: 2px;
  --smLinkLineColor: dodgerblue;
  --smLinkTextColorHover: dodgerblue;
  color: dodgerblue;
  position: relative;
  overflow: hidden;
}

/* line 241, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
a.view__link {
  text-decoration: none;
  font-weight: 600;
}

/* line 246, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
.view__link::after {
  transform: translate3d(-100%, 0, 0);
  transition: transform .2s ease-in;
}

/* line 251, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
.view__link:hover::after {
  transform: translate3d(0, 0, 0);
}

/*Link Padding*/
/* line 257, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
.view__link-padding {
  --uismLinkLineWeight: var(--smLinkLineWeight, 1px);
  --uismLinkLineColor: var(--smLinkLineColor, #000);
  padding-bottom: var(--uismLinkLineWeight);
  position: relative;
}

/* line 264, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
.view__link-padding::after {
  content: "";
  width: 7em;
  height: var(--uismLinkLineWeight);
  background-color: var(--uismLinkLineColor);
  position: absolute;
  left: 0;
  bottom: 0;
}

/* line 274, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
img.drop-shadow {
  box-shadow: 8px 8px 50px 1px rgba(0, 0, 0, 0.3);
}

/* line 278, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
img.img-project {
  display: flex;
  max-width: 90%;
}

/* line 283, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
.container__project-text {
  display: flex;
  flex-flow: column;
  align-self: center;
}

/* line 289, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
.project__text-details {
  display: inline-flex;
  flex-flow: column;
  justify-content: center;
}

/* line 295, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
.project__text-title {
  font-size: 2em;
  line-height: 1em;
}

/* line 300, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
h1 {
  line-height: 1.1em;
  font-size: 2.8em;
}

/* line 305, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
p {
  font-size: 1em;
}

/* line 309, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
a.black {
  color: #333333;
  text-decoration: none;
  font-size: 1em;
  font-weight: 700;
}

/* line 316, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
a.black:hover {
  font-weight: 700;
}

/* line 320, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
a.blue {
  color: dodgerblue;
  font-weight: bolder;
  text-decoration: none;
}

/* line 326, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
footer > div {
  display: inline-block;
  justify-items: center;
  margin-bottom: 2em;
}

/* line 332, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
div.sm-links {
  text-align: center;
  display: inline-flex;
  width: 100%;
  justify-content: center;
}

/* line 339, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
.sm-links > a {
  padding: 0 1em;
  color: #333333;
  vertical-align: center;
}

/* line 345, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
.sm-links > a:hover {
  opacity: 0.7;
}

/* line 349, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
.message {
  display: block;
  text-align: center;
  color: #333333;
}

/* line 355, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
.message > a {
  color: #333333;
  font-weight: 600;
}

/* line 360, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
.message > a:hover {
  opacity: 0.7;
}

/* line 364, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
.copyright {
  display: block;
  text-align: center;
  opacity: 0.5;
}

@media (max-width: 800px) {
  /* line 371, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
  body {
    margin: 1em;
    font-size: 1em;
  }

  /* line 376, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
  .top-nav {
    font-size: 1em;
    font-weight: 700;
  }

  /* line 381, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
  .header {
    margin: 0;
    padding: 0;
    display: grid;
  }

  /* line 387, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
  #profile_photo {
    display: block;
    margin-top: 8em;
    margin-left: 22%;
    justify-content: center;
  }

  /* line 394, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
  h1 {
    font-size: 4em;
  }

  /* line 398, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
  h3 {
    line-height: normal;
  }

  /* line 402, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
  .header-intro {
    margin-left: 1em;
    padding: 2em;
    font-size: 50%;
    text-align: center;
  }

  /* line 409, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
  .two-col {
    grid-template-columns: 1fr;
  }

  /* line 413, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
  .container-projects {
    display: block;
    justify-self: center;
  }

  /* line 418, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
  .container__project-text {
    width: 90%;
    padding-left: 2em;
  }

  /* line 423, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
  .container__project-image {
    justify-content: center;
  }

  /* line 427, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
  footer {
    padding: 0 1em;
  }

  /* line 431, /Users/maxinekho/WebDev/max-portfolio/app/assets/stylesheets/style.css.scss */
  footer.sm-links {
    display: inline-flex;
    padding: 0 1em;
    justify-content: center;
  }
}
