@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
@import url("https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i");
@font-face {
  font-family: 'bagnardsans';
  src: url("bagnardsans.otf");
  /* IE9 Compat Modes */
  src: url("bagnardsans.otf?#iefix") format("embedded-opentype");
}
@font-face {
  font-family: 'youngserif-regular';
  src: url("youngserif-regular.otf");
  /* IE9 Compat Modes */
  src: url("youngserif-regular.otf?#iefix") format("embedded-opentype");
}
/* line 15, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 14px;
}

/* line 46, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
body {
  font-family: Karla, sans-serif;
  font-size: 14px;
  line-height: 1.5em;
}
@media (min-width: 64em) {
  /* line 46, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
  body {
    font-size: 14px;
    line-height: 1.5em;
    margin-left: 2em;
    margin-right: 2em;
  }
}
@media (min-width: 85.375em) {
  /* line 46, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
  body {
    font-size: 19.6px;
    margin-left: 3em;
    margin-right: 3em;
  }
}
@media (min-width: 120em) {
  /* line 46, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
  body {
    font-size: 19.6px;
    margin-left: 4em;
    margin-right: 4em;
  }
}
@media (min-width: 160em) {
  /* line 46, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
  body {
    font-size: 16.8px;
    margin-left: 3em;
    margin-right: 3em;
  }
}

/* line 73, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
.header {
  display: inline-flex;
  align-items: center;
  margin-top: 15em;
  margin-bottom: 8em;
}

/* line 80, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
.bio {
  font-weight: normal;
  font-size: 2.4em;
  line-height: 1.2em;
}

/* line 86, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
.top-nav {
  background-color: white;
  display: inline;
  padding: 1em;
  position: fixed;
  z-index: 100;
  /*reset from body margin*/
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
}

/* line 99, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
.top-nav a {
  padding-top: 0.7em;
  justify-content: center;
  font-size: 9.8px;
  letter-spacing: 0.8pt;
}

/* line 106, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
.nav-title {
  float: left;
  margin-left: 6em;
  color: black;
}

/* line 112, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
.nav-links {
  float: right;
  margin-right: 6em;
}

/* line 117, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
.nav-links a.inactive-nav:hover {
  opacity: 0.7;
}

/* line 121, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
.nav-links a.inactive-nav {
  font-weight: 400;
}

/* line 125, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
a.active-nav {
  font-weight: 700;
}

/* line 129, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
a.active-nav:hover {
  opacity: 1;
}

/* line 133, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
#profile_photo {
  border-radius: 50%;
}
@media (min-width: 48em) {
  /* line 133, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
  #profile_photo {
    height: 100px;
    width: 100px;
    margin-left: 6em;
  }
}
@media (min-width: 64em) {
  /* line 133, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
  #profile_photo {
    height: 200px;
    width: 200px;
    margin-left: 6em;
  }
}
@media (min-width: 85.375em) {
  /* line 133, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
  #profile_photo {
    height: 200px;
    margin-left: 6em;
    width: 200px;
  }
}
@media (min-width: 120em) {
  /* line 133, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
  #profile_photo {
    height: 200px;
    width: 200px;
    margin-left: 6em;
  }
}
@media (min-width: 160em) {
  /* line 133, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
  #profile_photo {
    height: 200px;
    width: 200px;
    margin-left: 6em;
  }
}

/* line 162, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
.header-intro {
  padding: 0 5em;
  margin-left: 2.5em;
}

/* line 167, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
.container-main {
  width: 100%;
}

/* line 171, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
.two-col {
  display: grid;
  grid-template-columns: 7fr 5fr;
}

/* line 176, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
.animated {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes bounce {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transform: translateY(0);
  }
  90% {
    -webkit-transform: translateY(-20px);
  }
}
@keyframes bounce {
  0%, 20%, 40%, 60%, 80%, 100% {
    transform: translateY(0);
  }
  90% {
    transform: translateY(-20px);
  }
}
/* line 197, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
}

/* line 202, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
#scroll-down-arrow {
  text-align: center;
  margin-bottom: 8em;
}

/* line 207, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
.project-index {
  margin-bottom: 8em;
}

/* line 211, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
a {
  color: #000000;
  text-decoration: none;
}

/* line 216, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
a.dashed {
  padding-bottom: 0.1em;
  text-decoration: none;
  border-bottom: dashed #000000 0.5px;
}

/* line 222, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
a:hover {
  opacity: 0.7;
}

/* line 226, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
a.view-project-button:hover {
  text-decoration: underline;
  display: block;
}

/* line 231, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
.container__project-image {
  width: 100%;
}

/*Project Colors*/
/* line 237, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
.janus-color {
  color: #692398;
  display: inline-block;
}

/* line 242, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
.treasury-color {
  color: #0E8749;
  display: inline-block;
}

/* line 247, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
.open-table-tab-color {
  color: #d43644;
  display: inline-block;
}

/* line 252, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
.default-color {
  display: inline-block;
  color: #333333;
}

/* line 257, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
.default-spec-color {
  display: inline-block;
  color: lightslategrey;
}

/* "View Project" Link Properties*/
/* line 273, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
.view__link {
  --smLinkPadding: 10px 15px;
  --smLinkLineWeight: 2px;
  --smLinkLineColor: #333333;
  --smLinkTextColorHover: #333333;
  color: #000000;
  position: relative;
  overflow: hidden;
}

/* line 283, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
a.view__link {
  text-decoration-style: dashed;
  font-weight: 600;
  cursor: pointer;
}

/* line 289, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
.view__link::after {
  transform: translate3d(-100%, 0, 0);
  transition: transform .2s ease-in;
  cursor: pointer;
}

/* line 295, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
.view__link:hover::after {
  transform: translate3d(0, 0, 0);
}

/*Link Padding*/
/* line 301, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
.view__link-padding {
  --uismLinkLineWeight: var(--smLinkLineWeight, 1px);
  --uismLinkLineColor: var(--smLinkLineColor, #000);
  padding-bottom: var(--uismLinkLineWeight);
  position: relative;
}

/* line 308, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
.view__link-padding::after {
  content: "";
  width: 9em;
  height: var(--uismLinkLineWeight);
  background-color: var(--uismLinkLineColor);
  position: absolute;
  left: 0;
  bottom: 0;
}

/* line 318, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
img.drop-shadow {
  box-shadow: 8px 8px 50px 1px rgba(0, 0, 0, 0.3);
}

/* line 322, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
img.img-project {
  display: flex;
  max-width: 90%;
}

/* line 327, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
.container-projects {
  margin-bottom: 4em;
  margin-top: 6em;
  justify-self: center;
}

/* line 333, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
.container__project-text {
  display: flex;
  flex-flow: column;
  align-self: center;
}

/* line 339, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
.container__project-text > a {
  display: block;
  width: 28%;
}

/* line 344, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
.project__text-details {
  display: inline-flex;
  flex-flow: column;
  justify-content: center;
}

/* line 350, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
.project__text-title {
  font-size: 2em;
  line-height: 1em;
}

/* line 355, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
section.project-types {
  font-size: 1.2em;
  background-color: white;
  display: block;
  padding-left: 2em;
  text-align: center;
  margin-bottom: 8em;
  letter-spacing: 0.8pt;
  margin-left: auto;
  margin-right: auto;
}

/* line 367, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
.project-type {
  margin: 4em;
  margin-left: 3em;
  border-bottom: dashed #333333 0.1em;
  font-family: bagnard, sans-serif;
}

/* line 374, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
.project-type:hover {
  font-weight: 700;
  border-bottom: solid 0.1em;
  cursor: pointer;
}

/* line 380, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
a.active-tab {
  border-bottom: solid 0.1em;
  font-weight: 700;
  font-style: italic;
}

/* line 386, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
h1 {
  line-height: 1.1em;
  font-size: 2.8em;
}

/* line 391, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
p {
  font-size: 1em;
}

/* line 395, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
a.black {
  color: #333333;
  text-decoration: none;
  font-size: 1em;
  font-weight: 700;
}

/* line 402, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
a.black:hover {
  font-weight: 700;
}

/* line 406, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
a.blue {
  color: dodgerblue;
  font-weight: bolder;
  text-decoration: none;
}

/* line 412, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
footer > div {
  display: inline-block;
  justify-items: center;
  margin-bottom: 2em;
}

/* line 418, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
div.sm-links {
  text-align: center;
  display: inline-flex;
  width: 100%;
  justify-content: center;
}

/* line 425, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
.sm-links > a {
  padding: 0 1em;
  color: #333333;
  vertical-align: center;
}

/* line 431, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
.sm-links > a:hover {
  opacity: 0.7;
}

/* line 435, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
.message {
  display: block;
  text-align: center;
  color: #333333;
}

/* line 441, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
.message > a {
  color: #333333;
  font-weight: 600;
}

/* line 446, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
.message > a:hover {
  opacity: 0.7;
}

/* line 451, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
.copyright {
  display: block;
  text-align: center;
  opacity: 0.5;
}

@media (max-width: 800px) {
  /* line 458, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
  body {
    margin: 1em;
    font-size: 1em;
  }

  /* line 463, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
  #profile_photo {
    width: 70%;
    margin: 0 auto;
  }

  /* line 468, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
  div.header {
    display: block;
  }

  /* line 472, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
  section.nav-links {
    margin-right: 1em;
  }

  /* line 477, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
  .top-nav {
    font-size: 0.6em;
    margin: 0;
  }

  /* line 482, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
  h1 {
    font-size: 4em;
    line-height: 1em;
  }

  /* line 487, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
  h3 {
    line-height: normal;
  }

  /* line 491, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
  .header-intro {
    margin-left: 1em;
    padding: 2em;
  }

  /* line 496, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
  .two-col {
    grid-template-columns: 1fr;
  }

  /* line 500, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
  section.project-types {
    padding-left: 0;
  }

  /* line 504, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
  a.project-type {
    display: inline;
    padding: 0;
    margin: 1em;
    font-size: 0.8em;
  }

  /* line 511, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
  .container-projects {
    display: block;
    justify-self: center;
    margin-bottom: 4em;
    margin-top: 4em;
  }

  /* line 518, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
  .container__project-text {
    width: 80%;
    padding-left: 3em;
  }

  /* line 523, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
  .container__project-image {
    margin: 0 auto;
    padding-left: 3em;
  }

  /* line 528, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
  .container__project-text > a {
    display: block;
    width: 60%;
  }

  /* line 533, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
  footer {
    width: 100%;
    justify-content: center;
  }

  /* line 538, /Users/maxinekho/Max/max-portfolio/app/assets/stylesheets/style.css.scss */
  footer.sm-links {
    display: inline-flex;
    padding: 0 1em;
  }
}
