<footer>
  <div class="footer row">
    <div class="col-md-5ths">
      © 2019 Maxine Kho
    </div>
    <div class="col-md-5ths">
    </div>
    <div class="col-md-5ths">
      Say hi <br>
      <a href="mailto:maxinekho@nyu.edu" class="dashed">maxinekho@nyu.edu</a>
    </div>
    <div class="col-md-5ths">
      <a href="https://www.behance.net/maxinekho" target="_blank" class="dashed" rel="noopener">Behance ↗</a><br>
      <a href="https://www.are.na/maxine-kho" target="_blank" class="dashed" rel="noopener">Are.na ↗</a><br>
    </div>
    <div class="col-md-5ths">
    </div>
  </div>
</footer>