<footer>
  <div class="footer row">
    <div class="col-md-5ths">
      © 2020 Maxine Kho
    </div>
    <div class="col-md-5ths">
    </div>
    <div class="col-md-5ths">
      Say <strong>hello@maxinekho.com</strong>
    </div>
    <div class="col-md-5ths">
      <a href="https://www.figma.com/@maxine" target="_blank" class="dashed styled-focus" rel="noopener">Figma ↗</a><br>
      <a href="https://www.are.na/maxine-kho" target="_blank" class="dashed styled-focus" rel="noopener">Are.na ↗</a><br>
    </div>
    <div class="col-md-5ths">
    </div>
  </div>
</footer>