<footer>
  <div class="footer row">
    <div class="col-md-5ths">
      © 2020 Maxine Kho
    </div>
    <div class="col-md-5ths">
    </div>
    <div class="col-md-5ths">
      Say hi <br>
      <a href="mailto:hello@maxinekho.com" class="dashed styled-focus">hello@maxinekho.com</a>
    </div>
    <div class="col-md-5ths">
      <a href="https://www.behance.net/maxinekho" target="_blank" class="dashed styled-focus" rel="noopener">Behance ↗</a><br>
      <a href="https://www.are.na/maxine-kho" target="_blank" class="dashed styled-focus" rel="noopener">Are.na ↗</a><br>
    </div>
    <div class="col-md-5ths">
    </div>
  </div>
</footer>