<!--Stylesheet-->
<%= stylesheet_link_tag "style" %>

<!--JS-->
<%= javascript_include_tag 'script.js' %>

<!--Page Title-->
<% title "MAXINE KHO" %>

<!--Header-->
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="header">
    <h3 style="">Coming soon</h3>
</div>
<div class="header">
    <div class="header-intro">
      <p style="letter-spacing: 0.2em"><strong>MAXINE KHO</p></strong>
        <a class="dashed" href="https://engineering.nyu.edu/" target="_blank">NYU Tandon</a> 2020<br>
        Incoming Product Design Intern at <a class="dashed" href="https://facebook.design/">Facebook</a><br><br><br>
      <a class="dashed" href="mailto:maxinekho@nyu.edu">Email</a> &nbsp;•&nbsp;
      <a class="dashed" href="https://www.behance.net/maxinekho" target="_blank">Behance</a> &nbsp;•&nbsp;
      <a class="dashed" href="https://www.linkedin.com/in/maxinekho/" target="_blank">LinkedIn</a> &nbsp;•&nbsp;
      <a class="dashed" href="https://www.are.na/maxine-kho" target="_blank">Are.na</a>
      </div>
</div>
</body>