 <!--Stylesheet-->
 <%= stylesheet_link_tag "style-cv" %>

    <div class="container">
        <div class="column-one">
            <!--Name and Logo-->
                <h1><strong>Maxine Kho</strong></h1><br>

            <!--Education Activities Skills-->
                <h2>Education</h2>
                <p><strong>NEW YORK UNIVERSITY</strong><br>
                    B.S. Integrated Digital Media<br>
                    <em>Focus on Product Design</em><br>
                    New York, NY | May 2020</p><br>
                <h2>Activities</h2>
                <p>Tech@NYU Design Collective<br>
                    The Restaurateur Club<br>
                    NYU Tandon Showcase Committee<br>
                    Washington Square News<br></p>
                <br>
                <h2>Skills</h2>
                <p><strong>TOOLS</strong></p>
                Sketch<br>
                Framer X<br>
                InVision<br>
                Abstract<br>
                Zeplin<br>
                Adobe Creative Suite<br>
                Balsamiq<br>
                Google Analytics<br>
                WordPress<br>
                MS Office<br>
                <p><strong>DEVELOPMENT</strong></p>
                HTML & CSS<br>
                Python<br>
                Javascript<br>
                p5.js<br>
                A-Frame
        </div>
        <div class="column-two">
            <!--Contact Details-->
                <a href="https://maxinekho.com" target="_blank"><strong>maxinekho.com</strong></a><br>
                +1 917 916 3652<br>
                <a href="mailto:maxinekho@nyu.edu">maxinekho@nyu.edu</a><br>
                New York, NY
                <br><br><br>

            <!--Work Experience-->
                <h2>Work Experience</h2>
                <strong>NYU IT</strong>– <em>Product Designer</em><br>
                New York, NY | Feb 2018–Present
                <ul>
                    <li>Defines workflows and delivers wireframes,
                        mockups, and interactive prototypes for Janus
                        Internship Management System & NYU Treasury
                        enterprise system</li>
                    <li>Presents projects at IT-wide design shares and leads
                        focus groups, usability testing sessions</li>
                </ul><br>
                <strong>BLUSHUP BEAUTY</strong><em>–UX/UI Design Intern</em><br>
                New York, NY | Sep-Dec 2017<br>
                <ul>
                    <li>Created brand identity for beauty startup</li>
                    <li>Restructured user experience: organized website
                        content, prepared wireframes and mockups</li>
                    <li>Handed off deliverables to developers prior to
                        website beta launch</li>
                </ul><br>
                <strong>VGRAFIKS DESIGN STUDIO</strong><em>–Design Intern</em><br>
                Manila, Philippines | May-Aug 2017
                <ul>
                    <li>Spearheaded a team of 8 in preparing UX flowcharts,
                        wireframes, and mockups for “Better”</li>
                    <li>Conducted extensive user research to determine
                        product content and identify product features</li>
                </ul><br>
                <strong>HEYKUYA</strong><em>–Marketing Specialist</em><br>
                Manila, Philippines | May-Aug 2016
                <ul>
                    <li>Redesigned the email newsletter, doubling average
                        click rate in two months (via Google Analytics)</li>
                    <li>Created copies for top-performing Facebook ads
                        with 0.58-0.76% click-through rates</li>
                </ul>
                <em>*Acquired by Kata.ai</em>
            </div>
        </div>

        <footer>
            <br><br><br>
            © <strong>2018 Maxine Kho</strong>
            <br><br><br>
        </footer>