<!--JS-->
<%= javascript_include_tag 'script.js', 'modal.js', 'progress.js' %>

<!--Stylesheet-->
<%= stylesheet_link_tag "style" %>

<!--Page Title-->
<% title "Disclosure-ify Yourself –– MAXINE KHO" %>

<!--Navigation-->
<body>
<nav class= "fixed-nav row">
  <div class="col-md-5ths">
    Maxine Kho<br>
    Visual+Product Designer
  </div>
  <div class="col-md-5ths">
  </div>
  <div class="col-md-5ths">
    <a class="inactive-nav dashed" href="/">Work</a>
  </div>
  <div class="col-md-5ths">
    <a class="inactive-nav dashed" href="/about">About</a>
  </div>
  <div class="col-md-5ths">
  </div>
</nav>

<!--Progress Bar-->
<div class="progress-indicator">
    <div class="progress-container">
        <div class="progress-bar" id="progressBar"></div>
    </div>
</div>

<!-- The Modal -->
<div id="zoomModal" class="modal">

  <!-- The Close Button -->
  <span class="close">&times</span>

  <!-- Modal Content (The Image) -->
  <img class="modal-content" id="img01">

  <!-- Modal Caption (Image Text) -->
  <div id="caption"></div>

</div>

<!--Bulk Content-->
<div class="bulk-content">

  <div class="row">
    <div class="col-md-5ths project-this">
      <h3 class="channel-orange">↓ THIS</h3><br>
      <div class="channel-orange"><strong>Disclosure-ify Yourself</strong></div><br><br>
      <!--Project Summary-->
      <div>
        <h3>ABOUT</h3><br>
        <strong>Timeframe: </strong>December 2017<br><br>
        <h3>USING</h3><br>
        CLM face tracker<br>
        p5.js<br>
      </div>
    </div>
    <div class="col-md-5ths">
    </div>
    <div class="col-md-5ths">
    </div>
    <div class="col-md-5ths">
    </div>
    <div class="col-md-5ths">
    </div><br>
  </div>

  <div class="row">
    <div class="col-md-5ths">
    </div>
    <div class="col-md-5ths">
    </div>
    <div class="col-md-2-5ths case-image">
      <img src="<%= image_path("images/project-disclosure-ify/disclosure.gif") %>" alt="disclosure-ify yourself"><br><br>
      I mapped an svg path onto the facial features detected by Kyle McDonald's CLM based face tracking model.
  </div>
    <div class="col-md-5ths">
      <br><strong>A <a href="https://www.disclosureofficial.com/" class="dashed" target="_blank">Disclosure</a>-inspired scribble face generator using p5</strong>
    </div>
  </div><br>

  <div class="row">
    <div class="col-md-5ths">
    </div>
    <div class="col-md-5ths">
    </div>
    <div class="col-md-2-5ths case-image">
      <iframe src="https://www.openprocessing.org/sketch/487935/embed/?plusEmbedHash=ZDQ5ZjhmMmY0ZGY2YjJlYzkyYzM0ZjZmOWQ1OGYzZDY1ZjlhMzM3Yzc0YzUzNTAyN2Q0YTkwYWJkMGRlMTg3NDdmMzgxZDRlOTIyMTZhZDNiZmI0MzEwMmVmMDk3N2YzZWFhYzA2M2NmOWIzODcwZTc3MmU1MDI4MzM1Nzc3ZDJydnBjbWdjOU1vV3ZyTFpodmYzS0tGOHJyM0o5TjAwYjVSckNpM3JGbjZXdmpFTW5lOG9tazlnVVhHcFhLZU5WajFQNnFoeDdjZVBxaWNuWTRmZ2RyZz09&plusEmbedTitle=true" width="640" height="480"></iframe>
    </div>
    <div class="col-md-5ths">
    </div>
  </div><br>
</div>

<!--Back to Top Link-->
<button onclick="scrollUp()" id="backToTop" title="Go back to top">&#8593; Back to top</button>

<%= render "home/footer" %>