@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i');

html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    scroll-behavior: smooth;
}

// Breakpoints
$bp-small: 48em; // 768px
$bp-medium: 64em; // 1024px
$bp-large: 85.375em; // 1366px
$bp-xlarge: 120em; // 1920px
$bp-xxlarge: 160em; // 2560px

// Media Queries
$mq-small: "(min-width: #{$bp-small})";
$mq-medium: "(min-width: #{$bp-medium})";
$mq-large: "(min-width: #{$bp-large})";
$mq-xlarge: "(min-width: #{$bp-xlarge})";
$mq-xxlarge: "(min-width: #{$bp-xxlarge})";
$mq-retina: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)";

// Font-Size
$base-font-size: 1em;

// Line-Height
$base-line-height: 1.5em;
$header-line-height: 1.25;

body {
    //font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-family: Karla, sans-serif;
    font-size: $base-font-size;
    line-height: $base-line-height;
    @media #{$mq-medium} {
        font-size: $base-font-size*1;
        line-height: $base-line-height*1;
        margin-left: 2em;
        margin-right: 2em;
    }
    @media #{$mq-large} {
        font-size: $base-font-size*1.4;
        margin-left: 3em;
        margin-right: 3em;
    }
    @media #{$mq-xlarge} {
        font-size: $base-font-size*1.4;
        margin-left: 3em;
        margin-right: 3em;
    }
    @media #{$mq-xxlarge} {
        font-size: $base-font-size*1.4;
        margin-left: 3em;
        margin-right: 3em;
    }
}

.container {
    margin: 0 20%;
}

.top-nav {
    background-color: white;
    display: inline;
    padding: 1em;
    position: fixed;
    z-index: 100;
    /*reset from body margin*/
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.top-nav a {
    padding-top: 0.7em;
    margin-right: 3em;
    justify-content: center;
}

.progress-indicator {
    position: fixed;
    top: 3.4em;
    left: 0;
    margin-left: 0;
    z-index: 100;
    width: 100%;
    background-color: white;
}

.progress-container {
    width: 100%;
    height: 0.2em;
    color: white;
}

/* Scroll Indicator */
.progress-bar {
    height: 0.2em;
    background: #333333;
    width: 0;
}

.two-col {
    display: grid;
    grid-template-columns: 7fr 5fr;
    grid-column-gap: 1.8em;
}

.condense {
    max-width: 65%;
}

/* Header/Title */
h1 {
    line-height: 1.5em;
    font-size: 3em;
}

/* Subtitle */
h2 {
    font-weight: normal;
    font-size: 2em;
    line-height: 1.2em;
}

h2.key__section-title{
    font-size: 1.6em;
    font-weight: bold;
    text-align: center;
    line-height: 1em;
}

/* Code-y Description */
h3 {
    display: inline;
    font-size: 0.8em;
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
    line-height: 0.7em;
}

h3.image-caption {
    text-align: center;
    line-height: 1em;
    letter-spacing: -0.05em;
}

/* Project Summary */
h4 {
    font-weight: normal;
    font-size: 0.8em;
    color: #7c7c7c;
    line-height: 0.5em;
}

h5 {
    font-size: 1.4em;
    line-height: 1.5em;
    font-weight: normal;
}

p {
    font-size: 1em;
}

/*Project Highlights*/

.highlight-janus {
     background-color: #D0C5FF;
     display: inline;
 }

.highlight-treasury {
    background-color: #C5FFDF;
    display: inline;
}

.highlight-open-table {
    background-color: #FFC5C5;
    display: inline;
}

/*Project Colors*/

.janus-color {
    color: #692398;
    display: inline-block;
}

.treasury-color {
    color: #109a53;
    display: inline-block;
}

.open-table-tab-color {
    color: #d43644;
    display: inline-block;
}

a.black {
    color: #333333;
    text-decoration: none;
}

a.black:hover {
    font-weight: 700;
}

a.blue {
    color: dodgerblue;
    text-decoration: none;
    font-weight: normal;
}

a.active-nav {
    font-weight: 700;
}

a.inactive-nav:hover {
    font-weight: 700;
}

img {
    display: flex;
    width: 100%;
    margin: 3em 0;
}

video {
    display: flex;
    max-width: 600px;
}

.center {
    text-align: center;
}

.btn__prototype {
    justify-content: center;
    border-radius: 2px;
    margin: 8px;
    background: white;
    padding: 8px 16px;
    border: dashed 0.15em;
    color: black;
    position:relative;
    overflow:hidden;
    font-size:14px;
    display: inline-block;
}

.btn__prototype:hover {
    cursor: pointer;
    opacity: 0.6;
}

/*Image*/
.zoomImages {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.zoomImages:hover {
    opacity: 0.7;
}

/* The Modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 7em; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: 0 auto auto;
    display: block;
    width: 100%;
    max-width: 1000px;
}

/* Caption of Modal Image (Alt Text) */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 3em 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 2em;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    opacity: 0.7;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

/* Tooltip container */
.tooltip {
    top: 0;
}

/* Tooltip text */
.tooltip .tooltip-text {
    top: 9em;
    right: 2em;
    visibility: hidden;
    font-size: 0.8em;
    width: 4em;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 0.5em 0;
    border-radius: 3px;
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.tooltip .tooltip-text {
    opacity: 0;
    transition: opacity 1s;
}

#project-logo {
    max-width: 10em;
    text-align: center;
}

#signature {
    margin: 0;
    width: 10em;
}

.container__project-image {
    width: 100%;
    margin-left: 10%;
    max-width: 90%;
}

.container__project-text {
    display: flex;
    flex-flow: column;
    align-self: center;
}

.container__project-text > a {
    display: block;
    width: 28%;
}

.project__text-details {
    display: inline-flex;
    flex-flow: column;
    justify-content: center;
}

.project__text-title {
    font-size: 2em;
    line-height: 1em;
}

/* "View Project" Link Properties*/

.view__link{
    --smLinkPadding: 10px 15px;
    --smLinkLineWeight: 2px;
    --smLinkLineColor: #333333;
    --smLinkTextColorHover: #333333;
    color: #000000;
    position: relative;
    overflow: hidden;
}

view__link > a{
    text-decoration-style: dashed;
    font-weight: 600;
    cursor: pointer;
}

.view__link::after{
    transform: translate3d(-100%, 0, 0);
    transition: transform .2s ease-in;
    cursor:pointer;
}

.view__link:hover::after{
    transform: translate3d(0, 0, 0);
}

/*"View Project" Link Padding*/

.view__link-padding{
    --uismLinkLineWeight: var(--smLinkLineWeight, 1px);
    --uismLinkLineColor: var(--smLinkLineColor, #000);
    padding-bottom: var(--uismLinkLineWeight);
    position: relative;
}

.view__link-padding::after{
    content: "";
    width: 9em;
    height: var(--uismLinkLineWeight);
    background-color: var(--uismLinkLineColor);
    position: absolute;
    left: 0;
    bottom: 0;
}

#backToTop {
    display: none;
    position: fixed;
    bottom: 2em;
    right: 2em;
    color: #333333;
    cursor: pointer;
    border: none;
    font-size: 1.1em;
    font-weight: 600;
    text-align: center;
    outline: none;
}

#backToTop:hover {
    opacity: 0.7;

    #backToTop:focus {
        outline: none;
        border: none;
    }

    #backToTop:active {
        border: none;
        outline: none;
    }
}

footer > div {
    display: inline-block;
    justify-items: center;
    margin-bottom: 1em;
}

div.sm-links {
    text-align: center;
    display: inline-flex;
    width: 100%;
    justify-content: center;
}

.sm-links > a {
    padding: 0 1em;
    color: #333333;
    vertical-align: center;
}

.sm-links > a:hover {
    opacity: 0.7;
}

.message {
    display: block;
    text-align: center;
    color: #333333;
}

.message > a {
    color: #333333;
    font-weight: 600;
    text-decoration: none;
}

.message > a:hover {
    opacity: 0.7;
}

.copyright {
    display: block;
    text-align: center;
    opacity: 0.5;
}


@media (max-width: 800px) {
    body {
        margin: 0 1em 1em;
    }

    .top-nav {
        font-size: 0.5em;
        margin: 0;
    }

    .progress-indicator {
        top: 5.3em;
    }

    .condense {
        max-width: 100%;
    }

    h1 {
        font-size: 3em;
        line-height: 1em;
    }

    .two-col {
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 0;
    }

    .container__project-image{
        margin: 0 2em;
        width: 80%;
    }

    .container__project-text {
        padding: 0 2em;
    }

    video {
        display: flex;
        max-width: 270px;
    }

    footer {
        padding: 0 1em;
    }

    footer.sm-links {
        padding: 0 1em;
    }

}