@import url('https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i');

body {
    margin-left: 8em;
    margin-right: 8em;
    //font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-family: Karla, sans-serif;
}

.resume-grid {
    max-width: 2440px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4em;
}

.column-two a:hover {
    opacity: 0.7;
}

.resume-grid img {
    padding-top: 0.5em;
    margin: 0;
    max-height: 1.5em;
    max-width: 1.5em;
}

.column-two, .column-three {
    margin-top: 4em;
}

.list {
    display: inline-flex;
}

@media screen and (max-width:800px){
    body{
        margin: 3em;
        font-size: 1em;
    }

    .top-nav {
        font-size: 0.6em;
        margin: 0;
    }

    .column-two, .column-three {
        margin-top: 0;
    }

    div.resume-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 0;
        grid-row-gap: 0;
    }
}