body {
    margin-top: 5em;
    margin-left: 10em;
    margin-right: 10em;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    line-height: 1.3em;
}

.container {
    max-width: 2440px;
    margin: 0 auto;
    display: inline grid;
    grid-column-gap: 3px;
    grid-row-gap: 10px;
}

div.column-one {
    top: 0;
    float: left;
    max-width: 25em;
}

div.column-two {
    margin-left: 25em;
    max-width: 25em;
    min-width: 15em;
}

.column-two a {
    text-decoration: none;
    color: #333333;
}

.column-two a:hover {
    opacity: 0.7;
}

@media screen and (max-width:800px){
    body {
        font-size: 1em;
    }

    div.container {
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 0;
        grid-row-gap: 0;
    }

    .column-one {
        width: 100%;
        margin-left: 1em;
        margin-bottom: 2em;
    }

    div.column-two {
        margin-left: 1em;
        width: 100%;
    }
}