@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i');
@font-face {
    font-family: 'bagnardsans';
    src: url('bagnardsans.otf'); /* IE9 Compat Modes */
    src: url('bagnardsans.otf?#iefix') format('embedded-opentype'), /* IE6-IE8 */
}

@font-face {
    font-family: 'youngserif-regular';
    src: url('youngserif-regular.otf'); /* IE9 Compat Modes */
    src: url('youngserif-regular.otf?#iefix') format('embedded-opentype'), /* IE6-IE8 */
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 14px;
}

// Breakpoints
$bp-small: 48em; // 768px
$bp-medium: 64em; // 1024px
$bp-large: 85.375em; // 1366px
$bp-xlarge: 120em; // 1920px
$bp-xxlarge: 160em; // 2560px

// Media Queries
$mq-small: "(min-width: #{$bp-small})";
$mq-medium: "(min-width: #{$bp-medium})";
$mq-large: "(min-width: #{$bp-large})";
$mq-xlarge: "(min-width: #{$bp-xlarge})";
$mq-xxlarge: "(min-width: #{$bp-xxlarge})";
$mq-retina: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)";

// Font-Size
$base-font-size: 13px;

// Line-Height
$base-line-height: 1.5em;
$header-line-height: 1.25;

body {
    font-family: Karla, sans-serif;
    font-size: $base-font-size;
    line-height: $base-line-height;
    @media #{$mq-medium} {
        font-size: $base-font-size*1;
        line-height: $base-line-height*1;
        margin-left: 2em;
        margin-right: 2em;
    }
    @media #{$mq-large} {
        font-size: $base-font-size*1.4;
        margin-left: 3em;
        margin-right: 3em;
    }
    @media #{$mq-xlarge} {
        font-size: $base-font-size*1.4;
        margin-left: 4em;
        margin-right: 4em;
    }
    @media #{$mq-xxlarge} {
        font-size: $base-font-size*1.2;
        margin-left: 3em;
        margin-right: 3em;
    }
}

.header {
    display: inline-flex;
    align-items: center;
    margin-top: 15em;
    margin-bottom: 8em;
}

.header-intro {
    padding: 0 5em;
    margin-left: 3.5em;
}

a {
    color: #000000;
    text-decoration: none;
}

a.dashed {
    padding-bottom: 0.1em;
    text-decoration: none;
    border-bottom: dashed #000000 0.5px;
}

a:hover {
    opacity: 0.7;
}

p {
    font-size: 1em;
}

@media (max-width: 800px) {
    body{
        margin-left: 3em;
    }

    div.header {
        display: block;
    }

    h3 {
        line-height: normal;
        font-size: 2em;
    }

    p {
      font-size: 1em;
    }

    .header-intro {
        display: inline;
    }
}