// Breakpoints
$bp-small: 48em; // 768px
$bp-medium: 64em; // 1024px
$bp-large: 85.375em; // 1366px
$bp-xlarge: 120em; // 1920px
$bp-xxlarge: 160em; // 2560px

// Media Queries
$mq-small: "(min-width: #{$bp-small})";
$mq-medium: "(min-width: #{$bp-medium})";
$mq-large: "(min-width: #{$bp-large})";
$mq-xlarge: "(min-width: #{$bp-xlarge})";
$mq-xxlarge: "(min-width: #{$bp-xxlarge})";
$mq-retina: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)";

// Font-Size
$base-font-size: 1em;

// Line-Height
$base-line-height: 1.5em;
$header-line-height: 1.25;

body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: $base-font-size;
    line-height: $base-line-height;
    @media #{$mq-medium} {
        font-size: $base-font-size*1;
        line-height: $base-line-height*1;
        margin-left: 2em;
        margin-right: 2em;
    }
    @media #{$mq-large} {
        font-size: $base-font-size*1.4;
        margin-left: 3em;
        margin-right: 3em;
    }
    @media #{$mq-xlarge} {
        font-size: $base-font-size*1.4;
        margin-left: 3em;
        margin-right: 3em;
    }
    @media #{$mq-xxlarge} {
        font-size: $base-font-size*1.4;
        margin-left: 3em;
        margin-right: 3em;
    }
}

.resume-grid {
    max-width: 2440px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4em;
}

.column-two a {
    color: dodgerblue;
}

.column-two a:hover {
    opacity: 0.7;
}

.resume-grid img {
    padding-top: 0.5em;
    margin: 0;
    max-height: 1.5em;
    max-width: 1.5em;
}

.list {
    display: inline-flex;
}

@media screen and (max-width:800px){
    body {
        font-size: 1em;
        margin-left: 2em;
        margin-right: 2em;
    }

    div.resume-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 0;
        grid-row-gap: 0;
    }

    .column-one {
        width: 100%;
        margin: 0;
    }

    div.column-two {
        width: 100%;
        margin: 0;
    }

    .column-three {
        margin: 0;
    }
}