// Fontfaces
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
    html { font-family: 'Inter var', sans-serif; }
}

// HTML
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    scroll-behavior: smooth;
}

// Breakpoints
$bp-small: 48em; // 768px
$bp-medium: 64em; // 1024px
$bp-large: 85.375em; // 1366px
$bp-xlarge: 120em; // 1920px
$bp-xxlarge: 160em; // 2560px

// Media Queries
$mq-small: "(min-width: #{$bp-small})";
$mq-medium: "(min-width: #{$bp-medium})";
$mq-large: "(min-width: #{$bp-large})";
$mq-xlarge: "(min-width: #{$bp-xlarge})";
$mq-xxlarge: "(min-width: #{$bp-xxlarge})";
$mq-retina: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)";

// Font-Size
$base-font-size: 13px;

// Line-Height
$base-line-height: 1.5em;
$header-line-height: 1.25;

// Body
body {
    font-family: "inter", sans-serif;
    letter-spacing: 0.05em;
    font-size: $base-font-size;
    line-height: $base-line-height;
    @media #{$mq-medium} {
        font-size: $base-font-size*1;
        line-height: $base-line-height*1;
        margin-left: 2em;
        margin-right: 2em;
    }
    @media #{$mq-large} {
        font-size: $base-font-size*1.4;
        margin-left: 3em;
        margin-right: 3em;
    }
    @media #{$mq-xlarge} {
        font-size: $base-font-size*1.4;
        margin-left: 4em;
        margin-right: 4em;
    }
    @media #{$mq-xxlarge} {
        font-size: $base-font-size*1.2;
        margin-left: 3em;
        margin-right: 3em;
    }
}

// Grid system

.row {
    display: flex;
}

// 1/5ths


.col-md-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    text-align: left;
}

// iPhone
@media only screen
and (min-device-width: 375px)
and (max-device-width: 812px)
and (-webkit-min-device-pixel-ratio: 3) {
    .col-md-5ths {
        width: 200%;
        display: block;
        padding: 2em 0;
    }
    .row {
        padding: 2.5em 0em;
    }
}

// iPad
@media (min-width: 768px) {
    .col-md-5ths {
        width: 100%;
    }
}

// iPad Pro
@media (min-width: 992px) {
    .col-md-5ths {
        width: 100%;
    }
}

// Desktop
@media (min-width: 1200px) {
    .col-md-5ths {
        width: 100%;
    }
}

// 2/5ths

.col-md-2-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    text-align: left;
}

// iPhone
@media only screen
and (min-device-width: 375px)
and (max-device-width: 812px)
and (-webkit-min-device-pixel-ratio: 3) {
    .col-md-2-5ths {
        width: 50%;
        display: block;
        position: absolute;
        padding: 1em 0 2em;
        float: left;
    }
}

// iPad
@media (min-width: 768px) {
    .col-md-2-5ths {
        width: 200%;
    }
}

//iPad Pro
@media (min-width: 992px) {
    .col-md-2-5ths {
        width: 200%;
    }
}

// Desktop
@media (min-width: 1200px) {
    .col-md-2-5ths {
        width: 200%;
        float: left;
    }
}

// Back to Top
#backToTop {
    display: none;
    position: fixed;
    bottom: 5em;
    right: 8em;
    color: orangered;
    cursor: pointer;
    border: none;
    text-align: center;
    outline: none;
    background-color: transparent;
    background-repeat:no-repeat;
    font-size: 1em;
    z-index: 150;
    }

#backToTop:hover {
    opacity: 0.7;

    #backToTop:focus {
        border: none;
        outline: none;
    }

    #backToTop:active {
        border: none;
        outline: none;
    }
}

// Page sections
.fixed-nav {
    position: fixed;
    top: 0;
    left: 0;
    padding: 2em 2em;
    z-index: 100;
    width: 100%;
    background: -moz-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255, 0));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255, 0));
}

.footer {
    padding: 2em 2em;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 100;
    width: 100%;
    background: -moz-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255, 1));
    background: -webkit-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255, 1));
}

.inactive-nav {
    color: black;
}

.active-nav {
    font-style: italic;
}

.progress-indicator {
    position: fixed;
    top: 0;
    left: 0;
    margin-left: 0;
    z-index: 100;
    width: 100%;
    background-color: white;
}

.progress-container {
    width: 100%;
    height: 0.15em;
    color: white;
}

/* Scroll Indicator */
.progress-bar {
    height: 0.15em;
    background: orangered;
    width: 0;
}

/*Image*/
.zoomImages {
    cursor: pointer;
    transition: 0.3s;
    margin: 20% 20%;
}

.zoomImages:hover {
    opacity: 0.7;
}

/* The Modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    padding-top: 7em; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: 0 auto auto;
    display: block;
    width: 100%;
    max-width: 50em;
}

/* Caption of Modal Image (Alt Text) */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: white;
    padding: 3em 0;
    height: 150px;
    font-weight: 100;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: fixed;
    top: 1em;
    right: 1em;
    color: orangered;
    font-size: 2em;
    font-weight: 100;
    font-family: "Sporting Grotesque", sans-serif;
    transition: 0.3s;
    border: orangered 2px solid;
    padding: 0.25em 0.25em;
}

.close:hover,
.close:focus {
    opacity: 0.7;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

.bulk-content {
    margin-top: 13em;
    margin-bottom: 10em;
}

.project-nav {
    position: fixed;
    top: 0;
    margin-top: 16em;
    width: 50%;
    z-index: 10;
}

.project-this {
    position: fixed;
    top: 0;
    margin-top: 16em;
    width: 100%;
}

.container-projects {
    display: block;
    margin-bottom: 4em;
    margin-top: 4em;
    justify-self: center;
}

.project-index {
    margin: 3em 0;
}

.project-image > img {
    border: orangered solid 1px;
    width: 100%;
    max-height: 20%;
    max-width: 90%;
    padding: 1em;
}

.text-center {
    align-self: center;
}

.active-type {
    color: orangered;
    font-style: italic;
}

.scroll {
    height: 100px;
    overflow: hidden;
    position: relative;
}
.scroll > p {
    position: absolute;
    width: 100%;
    height: auto;
    margin: 0;
    /* Starting position */
    -moz-transform:translateY(100%);
    -webkit-transform:translateY(100%);
    transform:translateY(100%);
    /* Apply animation to this element */
    -moz-animation: scroll 25s linear infinite;
    -webkit-animation: scroll 25s linear infinite;
    animation: scroll 25s linear infinite;
}

@-moz-keyframes scroll {
    0%   { -moz-transform: translateY(100%); }
    100% { -moz-transform: translateY(-100%); }
}

@-webkit-keyframes scroll {
    0%   { -webkit-transform: translateY(100%); }
    100% { -webkit-transform: translateY(-100%); }
}

@keyframes scroll {
    0% {
        -moz-transform: translateY(100%); /* Firefox bug fix */
        -webkit-transform: translateY(100%); /* Firefox bug fix */
        transform: translateY(100%);
    }
    100% {
        -moz-transform: translateY(-100%); /* Firefox bug fix */
        -webkit-transform: translateY(-100%); /* Firefox bug fix */
        transform: translateY(-100%);
    }
}

// Everything else

strong {
    font-weight: 500;
}

/*Selection Color*/
::selection {
    color: orangered; /* WebKit/Blink Browsers */
}
::-moz-selection {
    color: orangered; /* Gecko Browsers */
}

/*🍊*/
.channel-orange {
    color: orangered;
    display: inline;
}

/* Code-y Description */
h3 {
    display: inline;
    font-size: 0.8em;
    font-family: "Roboto Mono", monospace;
    font-weight: 200;
    line-height: 1.2em;
}

sup {
    font-size: 0.6em;
    line-height: 0;
}

a {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}

a.dashed {
    padding-bottom: 0.1em;
    text-decoration: none;
    border-bottom: dashed #000000 0.5px;
}

a.dashed:focus {
    outline: orangered dashed 1px;
    outline-offset: 2px;
}

a.styled-focus:focus {
    outline: orangered dashed 1px;
    outline-offset: 2px;
}

a:hover {
    opacity: 0.5;
}

.case-image > img {
    display: block;
    width: 100%;
    max-width: 90%;
    margin: 0;
}

.btn__prototype {
        justify-content: center;
        padding: 0.5em 1em;
        border: dashed 0.1em;
        overflow: hidden;
        display: inline-block;
    }

.btn__prototype:hover {
    cursor: pointer;
    opacity: 0.6;
}

video {
    display: flex;
    max-width: 400px;
}

@media (max-width: 800px) {
    body{
        margin-left: 3em;
    }
}